.react-checkbox-tree ol {
    width: 100%;
}

.rct-text {
    text-overflow: ellipsis;
}

.react-checkbox-tree label,
.rct-bare-label {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.rct-title {
    overflow: hidden;
    text-overflow: ellipsis;
}
.react-checkbox-tree {
    overflow-x: hidden;
    overflow-y: auto;
    height: 95vh;
}

.react-sigma {
    float: left;
    position: absolute;
    left: 0;
}

.treemap-side-bar {
    width: 24.5%;
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.minimum-size-chooser {
    display: flex;
}
.minimum-size-viewer {
    /*float: right;*/
    text-align: right;
    width: 2.5em;
}

.size-label {
    overflow: visible;
}
label {
    white-space: nowrap;
}

#minimumSize {
    width: 100%;
}